<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kan.Do</title>
    <link rel="shortcut icon" href="/assets/icon-purple-light.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/board.css" />
    <link rel="stylesheet" href="/css/mediaQueries.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.1/dist/confetti.browser.min.js"></script>

  </head>
  <body>
    {{> sidebar user=user}}

    <div class="boardContainer" data-id="{{board.id}}">

      <div class="boardTopbar">
        <div class="boardTitle">
          <h1>{{board.title}}</h1>
          {{!-- <h4>{{board.id}}</h4> --}}
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 10.833C10.4602 10.833 10.8333 10.4599 10.8333 9.99967C10.8333 9.53944 10.4602 9.16634 10 9.16634C9.53977 9.16634 9.16667 9.53944 9.16667 9.99967C9.16667 10.4599 9.53977 10.833 10 10.833Z" stroke="#939095" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M10 4.99967C10.4602 4.99967 10.8333 4.62658 10.8333 4.16634C10.8333 3.7061 10.4602 3.33301 10 3.33301C9.53977 3.33301 9.16667 3.7061 9.16667 4.16634C9.16667 4.62658 9.53977 4.99967 10 4.99967Z" stroke="#939095" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M10 16.6663C10.4602 16.6663 10.8333 16.2932 10.8333 15.833C10.8333 15.3728 10.4602 14.9997 10 14.9997C9.53977 14.9997 9.16667 15.3728 9.16667 15.833C9.16667 16.2932 9.53977 16.6663 10 16.6663Z" stroke="#939095" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>

          <div class="boardTitleDropdown">
            {{!-- <a href="/app/board/edit?boardId={{board.id}}">Rename board</a> --}}
            <a class="editBoard">Rename board</a>
            <br />
            <br />
            {{!-- <a href="/app/board/delete?boardId={{board.id}}">Delete board</a> --}}
            <a class="deleteBoard">Delete board</a>
          </div>

          {{!-- edit board modal --}}
          <dialog class="editBoardModal modal">
            <div class="modalInsideWrapper">
              <div class="modalTitle">
                <h3>Rename board</h3>
                <button class="closeModal"  type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>

              <form action="/app/board/editBoard" method="post">
              <input type="hidden" name="boardId" value="{{board.id}}" />
                <div class="modalInputwithTitle">
                  <p>Enter the new name</p>
                  <input class="input" type="text" name="title" placeholder="Write name here" value="{{board.title}}" required />
                </div>

                <div class="modalButtons">
                  <button class="closeModal cta-btn cancelModalBtn" type="button">Cancel</button>
                  <button class="cta-btn" type="submit">Save</button>
                </div>

              </form>
            </div>
          </dialog>

        </div>

          <div class="topRight-btns">
            <button class="addSwimlaneBtn2 secondary-btn ">+ Add Column</button>
            <button class="addTaskBtn cta-btn" data-modal-target="#newTaskModal-{{swimlane.id}}">+ Create New Task</button>
          </div>
        

      </div>

      <div class="allSwimlanes">
        {{#each board.swimlanes as |swimlane|}}
          <div class="eachSwimlane-Wrapper">
            <div class="eachSwimlane-title-container">
              <div class="flex-spacer"></div>
              <!-- Spacer Element -->
              <div class="swimlaneTitle">
                <div class="swimlaneColor" style="background-color: {{swimlane.statusColor}};"></div>
                <h3>{{swimlane.title}}</h3>
              </div>
              <div class="flex-spacer"></div>
              <!-- Spacer Element -->
              <div class="swimlane-options-btn"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 10.833C10.4602 10.833 10.8333 10.4599 10.8333 9.99967C10.8333 9.53944 10.4602 9.16634 10 9.16634C9.53977 9.16634 9.16667 9.53944 9.16667 9.99967C9.16667 10.4599 9.53977 10.833 10 10.833Z" stroke="#737175" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M10 4.99967C10.4602 4.99967 10.8333 4.62658 10.8333 4.16634C10.8333 3.7061 10.4602 3.33301 10 3.33301C9.53977 3.33301 9.16667 3.7061 9.16667 4.16634C9.16667 4.62658 9.53977 4.99967 10 4.99967Z" stroke="#737175" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M10 16.6663C10.4602 16.6663 10.8333 16.2932 10.8333 15.833C10.8333 15.3728 10.4602 14.9997 10 14.9997C9.53977 14.9997 9.16667 15.3728 9.16667 15.833C9.16667 16.2932 9.53977 16.6663 10 16.6663Z" stroke="#737175" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <div class="swimlaneDropdown">
                  <a class="editSwimlaneBtn" data-id="{{swimlane.id}}">Edit column</a>
                  <br />
                  <br />
                  <a class="deleteCol" data-id="{{swimlane._id}}">Delete column</a>
                </div>

              </div>
            </div>
            <div class="eachSwimlane default-glass" data-id="{{swimlane._id}}">

              {{!-- <h5>{{swimlane._id}}</h5> --}}

              {{#each swimlane.tasks as |task|}}
                <div class="default-glass taskCard" data-id="{{task._id}}" draggable="true">
                  <div class="taskTitle" >

                    <div class="titleContainer">
                      {{!-- <div class="title-SVG-wrapper celebrate-btn" onclick="window.location.href='/app/board/deleteTask?taskId={{task._id}}&swimlaneId={{swimlane.id}}&boardId={{../../board.id}}';"> --}}
                      <div class="title-SVG-wrapper celebrate-btn" data-task-id="{{task._id}}" data-swimlane-id="{{swimlane.id}}" data-board-id="{{../../board.id}}">

                        <svg class="" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_211_462)">
                            <path d="M5.625 9L7.875 11.25L12.375 6.75M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                          </g>
                          <defs>
                            <clipPath id="clip0_211_462">
                              <rect width="18" height="18" fill="white" />
                            </clipPath>
                          </defs>
                        </svg>
                        <div class="completeTooltip">Mark as complete</div>
                      </div>
                      <h4>{{task.title}}</h4>
                    </div>
                    <div class="task-more-btn">
                      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 10.833C10.4602 10.833 10.8333 10.4599 10.8333 9.99967C10.8333 9.53944 10.4602 9.16634 10 9.16634C9.53977 9.16634 9.16667 9.53944 9.16667 9.99967C9.16667 10.4599 9.53977 10.833 10 10.833Z" stroke="#737175" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10 4.99967C10.4602 4.99967 10.8333 4.62658 10.8333 4.16634C10.8333 3.7061 10.4602 3.33301 10 3.33301C9.53977 3.33301 9.16667 3.7061 9.16667 4.16634C9.16667 4.62658 9.53977 4.99967 10 4.99967Z" stroke="#737175" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10 16.6663C10.4602 16.6663 10.8333 16.2932 10.8333 15.833C10.8333 15.3728 10.4602 14.9997 10 14.9997C9.53977 14.9997 9.16667 15.3728 9.16667 15.833C9.16667 16.2932 9.53977 16.6663 10 16.6663Z" stroke="#737175" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                      <div class="taskDropdown">
                        <a class="editTaskBtn" data-id="{{task.id}}">Edit task</a>
                        <br />
                        <br />
                        <a class="delete-task-btn" data-task-id="{{task._id}}" data-swimlane-id="{{swimlane.id}}" data-board-id="{{../../board.id}}">Delete Task</a>
                      </div>
                    </div>
                  </div>

                  <p class="taskDescription">{{task.description}}</p>
                  <p class="taskDate">Created: {{formatDate task.creationDate}}</p>

                  {{! add task modal }}
                  <dialog class="editTaskModal modal" data-id="{{task.id}}">
                    <div class="modalInsideWrapper">
                      <div class="modalTitle">
                        <h3>Edit task</h3>
                        <button class="closeModal"  type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                        </button>
                      </div>

                      <form action="/app/board/editTask" method="post">
                        <input type="hidden" name="boardId" value="{{../../board._id}}" />
                        <input type="hidden" name="swimlaneId" value="{{swimlane.id}}" />
                        <input type="hidden" name="taskId" value="{{task.id}}" />
                        
                        <div class="modalInputwithTitle">
                          <p>What's the task?</p>
                          <input class="input" type="text" name="title" placeholder="Write task here" value="{{task.title}}" required />
                        </div>

                        <div class="modalInputwithTitle">
                          <p>Add details (optional)</p>
                          <textarea class="input" name="description" rows="5" cols="33" />{{task.description}}</textarea>
                        </div>

                        <div class="modalButtons">
                          <button class="closeModal cta-btn cancelModalBtn"  type="button">Cancel</button>
                          <button class="cta-btn" type="submit">Save</button>
                        </div>

                      </form>

                    </div>
                  </dialog>
                </div>

                  
              {{/each}}

            </div>
          </div>
                {{!-- Delete column modal --}}
                <dialog class="deleteColumnModal modal" data-id="{{swimlane.id}}">
                  <div class="modalInsideWrapper">
                  <div class="modalTitle">
                      <h3>Delete '{{swimlane.title}}' column?</h3>
                      <button class="closeModal"  type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </button>
                    </div>

                      <p>Are you sure you want to delete this column? This will also delete all tasks in this column. This can not be undone.</p>

                      <div class="modalButtons">
                        <button class="closeModal cta-btn cancelModalBtn cancelGood"  type="button">Cancel</button>
                        <button class="cta-btn delete-btn" type="submit" onclick="window.location.href='/app/board/deleteColumn?swimlaneId={{swimlane.id}}&boardId={{../board.id}}';">Delete</button>
                      </div>
                  </form>
                  </div>
                </dialog>

                {{! edit column modal }}
                <dialog class="editSwimlaneModal modal" data-id="{{swimlane.id}}">
                  <div class="modalInsideWrapper">
                  <div class="modalTitle">
                      <h3>Edit column</h3>
                      <button class="closeModal"  type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                      </button>
                    </div>

                  <form action="/app/board/editSwimlane" method="post">
                    <input type="hidden" name="boardId" value="{{../board.id}}" /> 
                    
                    <input type="hidden" name="swimlaneId" value="{{swimlane.id}}" />
                    {{!-- <input type="hidden" name="boardTitle" value="{{board.title}}" /> --}}

                    <div class="modalInputwithTitle">
                        <p>Enter column name</p>
                        <input class="input" type="text" name="title" placeholder="Write name here" value="{{swimlane.title}}" required />
                    </div>

                    <div class="modalInputwithTitle">
                        <p>Select a status color</p>
                        <input type="color" name="statusColor" class="statusColor" value="{{swimlane.statusColor}}" required />
                    </div>

                      <div class="modalButtons">
                        <button class="closeModal cta-btn cancelModalBtn"  type="button">Cancel</button>
                        <button class="cta-btn" type="submit">Save</button>
                      </div>
                  </form>
                  </div>
                </dialog>

        {{/each}}
        <button class="addSwimlaneBtn default-glass">+ Add column</button>
      </div>

      {{! add column modal }}
      <dialog class="newSwimlaneModal modal">
        <div class="modalInsideWrapper">
        <div class="modalTitle">
            <h3>Add new column</h3>
            <button class="closeModal"  type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>

        <form action="/app/newSwimlane" method="post">
          <input type="hidden" name="boardId" value="{{board.id}}" />
          {{!-- <input type="hidden" name="boardTitle" value="{{board.title}}" /> --}}

          <div class="modalInputwithTitle">
              <p>Enter column name</p>
              <input class="input" type="text" name="title" placeholder="Write name here" required />
          </div>

          <div class="modalInputwithTitle">
              <p>Select a status color</p>
              <input type="color" name="statusColor" class="statusColor" value="#ff62c0" />
          </div>

            <div class="modalButtons">
              <button class="closeModal cta-btn cancelModalBtn"  type="button">Cancel</button>
              <button class="cta-btn" type="submit">Create</button>
            </div>
        </form>
        </div>
      </dialog>



      {{! add task modal }}
      <dialog class="newTaskModal modal">
        <div class="modalInsideWrapper">
          <div class="modalTitle">
            <h3>Add new task</h3>
            <button class="closeModal"  type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>

          <form action="/app/newTask" method="post">
            <input type="hidden" name="boardId" value="{{board.id}}" />

            <div class="modalInputwithTitle">
              <p>What's the task?</p>
              <input class="input" type="text" name="title" placeholder="Write task here" required />
            </div>

            <div class="modalInputwithTitle">
              <p>Add details (optional)</p>
              <textarea class="input" name="description" placeholder="Write description here" rows="5" cols="33" /> </textarea>
            </div>

            <div class="modalInputwithTitle">
              {{!-- <label for="status">Status:</label> --}}
              <p>Status:</p>
            <select class="input" name="status" id="">

              {{#each board.swimlanes as |swimlane|}}
                <option value="{{swimlane.id}}">{{swimlane.title}}</option>
              {{/each}}
            </select>
            </div>

            <div class="modalButtons">
              <button class="closeModal cta-btn cancelModalBtn"  type="button">Cancel</button>
              <button class="cta-btn" type="submit">Create</button>
            </div>

          </form>

        </div>
      </dialog>

      {{!-- Delete board modal --}}
        <dialog class="deleteModal modal">
          <div class="modalInsideWrapper">
          <div class="modalTitle">
              <h3>Delete '{{board.title}}' board?</h3>
              <button class="closeModal"  type="button"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 5L5 15M5 5L15 15" stroke="#B3B2B3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>

              <p>Are you sure you want to delete this board? This will also delete all tasks and columns in this board. This can not be undone.</p>

              <div class="modalButtons">
                <button class="closeModal cta-btn cancelModalBtn cancelGood"  type="button">Cancel</button>
                <button class="cta-btn delete-btn" type="submit" onclick="window.location.href='/app/board/deleteBoard?boardId={{board.id}}';">Delete</button>
              </div>
          </form>
          </div>
        </dialog>

        


    </div>
          {{!-- Celebration astronaut assets --}}    
          <div id="unicorn"><img src="/assets/rocketman-md.png" alt=""></div>
          <audio id="celebrationSound" src="/assets/crowd-yay-1.mp3"></audio>
          
          
          {{!-- Sound files --}}
          <audio id="pickSound" src="/assets/Pick Sound Effect.mp3"></audio>
          <audio id="dropSound" src="/assets/drop sound effect.mp3"></audio>



    <script src="/js/boardScript.js"></script>
    <script src="/js/dragFn.js"></script>
    <script src="/js/celebrationFn.js"></script>
  </body>
</html>